@theme inline {
  /* accent */
  --color-semantic-accent-bolder: var(--color-primitive-green-600);
  --color-semantic-accent-bold: var(--color-primitive-green-500);
  --color-semantic-accent-normal: var(--color-primitive-green-400);
  --color-semantic-accent-neutral: var(--color-primitive-green-300);
  --color-semantic-accent-alternative: var(--color-primitive-green-200);
  --color-semantic-accent-subtle: var(--color-primitive-green-60);
  --color-semantic-accent-subtler: var(--color-primitive-green-40);
  --color-semantic-accent-subtlest: var(--color-primitive-green-20);

  /* stroke */
  --color-semantic-stroke-bold: var(--color-primitive-gray-600);
  --color-semantic-stroke-normal: var(--color-primitive-gray-400);
  --color-semantic-stroke-neutral: var(--color-primitive-gray-300);
  --color-semantic-stroke-alternative: var(--color-primitive-gray-200);
  --color-semantic-stroke-assistive: var(--color-primitive-gray-100);
  --color-semantic-stroke-subtle: var(--color-primitive-gray-60);
  --color-semantic-stroke-subtler: var(--color-primitive-gray-20);

  /* bg */
  --color-semantic-bg-standard: var(--color-primitive-base-0);
  --color-semantic-bg-deep: var(--color-primitive-gray-20);
  --color-semantic-bg-deeper: var(--color-primitive-gray-40);

  /* object */
  --color-semantic-object-boldest: var(--color-primitive-gray-750);
  --color-semantic-object-bold: var(--color-primitive-gray-600);
  --color-semantic-object-normal: var(--color-primitive-gray-350);
  --color-semantic-object-subtle: var(--color-primitive-gray-150);
  --color-semantic-object-subtler: var(--color-primitive-gray-40);
  --color-semantic-object-inverse: var(--color-primitive-base-0);

  /* theme */
  --color-semantic-theme-red-bolder: var(--color-primitive-red-600);
  --color-semantic-theme-red-bold: var(--color-primitive-red-500);
  --color-semantic-theme-red-normal: var(--color-primitive-red-400);
  --color-semantic-theme-red-neutral: var(--color-primitive-red-300);
  --color-semantic-theme-red-alternative: var(--color-primitive-red-200);
  --color-semantic-theme-red-assistive: var(--color-primitive-red-100);
  --color-semantic-theme-red-subtle: var(--color-primitive-red-40);
  --color-semantic-theme-red-subtler: var(--color-primitive-red-20);

  --color-semantic-theme-orange-bolder: var(--color-primitive-orange-700);
  --color-semantic-theme-orange-bold: var(--color-primitive-orange-500);
  --color-semantic-theme-orange-normal: var(--color-primitive-orange-400);
  --color-semantic-theme-orange-neutral: var(--color-primitive-orange-300);
  --color-semantic-theme-orange-alternative: var(--color-primitive-orange-200);
  --color-semantic-theme-orange-assistive: var(--color-primitive-orange-80);
  --color-semantic-theme-orange-subtle: var(--color-primitive-orange-40);
  --color-semantic-theme-orange-subtler: var(--color-primitive-orange-20);

  --color-semantic-theme-amber-bolder: var(--color-primitive-amber-600);
  --color-semantic-theme-amber-bold: var(--color-primitive-amber-500);
  --color-semantic-theme-amber-normal: var(--color-primitive-amber-400);
  --color-semantic-theme-amber-neutral: var(--color-primitive-amber-300);
  --color-semantic-theme-amber-alternative: var(--color-primitive-amber-200);
  --color-semantic-theme-amber-assistive: var(--color-primitive-amber-100);
  --color-semantic-theme-amber-subtle: var(--color-primitive-amber-40);
  --color-semantic-theme-amber-subtler: var(--color-primitive-amber-20);

  --color-semantic-theme-yellow-bolder: var(--color-primitive-yellow-700);
  --color-semantic-theme-yellow-bold: var(--color-primitive-yellow-500);
  --color-semantic-theme-yellow-normal: var(--color-primitive-yellow-400);
  --color-semantic-theme-yellow-neutral: var(--color-primitive-yellow-300);
  --color-semantic-theme-yellow-alternative: var(--color-primitive-yellow-200);
  --color-semantic-theme-yellow-assistive: var(--color-primitive-yellow-80);
  --color-semantic-theme-yellow-subtle: var(--color-primitive-yellow-40);
  --color-semantic-theme-yellow-subtler: var(--color-primitive-yellow-20);

  --color-semantic-theme-green-bolder: var(--color-primitive-green-600);
  --color-semantic-theme-green-bold: var(--color-primitive-green-500);
  --color-semantic-theme-green-normal: var(--color-primitive-green-350);
  --color-semantic-theme-green-neutral: var(--color-primitive-green-300);
  --color-semantic-theme-green-alternative: var(--color-primitive-green-200);
  --color-semantic-theme-green-assistive: var(--color-primitive-green-100);
  --color-semantic-theme-green-subtle: var(--color-primitive-green-40);
  --color-semantic-theme-green-subtler: var(--color-primitive-green-20);

  --color-semantic-theme-sky-bolder: var(--color-primitive-sky-700);
  --color-semantic-theme-sky-bold: var(--color-primitive-sky-500);
  --color-semantic-theme-sky-normal: var(--color-primitive-sky-400);
  --color-semantic-theme-sky-neutral: var(--color-primitive-sky-300);
  --color-semantic-theme-sky-alternative: var(--color-primitive-sky-200);
  --color-semantic-theme-sky-assistive: var(--color-primitive-sky-80);
  --color-semantic-theme-sky-subtle: var(--color-primitive-sky-40);
  --color-semantic-theme-sky-subtler: var(--color-primitive-sky-20);

  --color-semantic-theme-blue-bolder: var(--color-primitive-blue-600);
  --color-semantic-theme-blue-bold: var(--color-primitive-blue-500);
  --color-semantic-theme-blue-normal: var(--color-primitive-blue-400);
  --color-semantic-theme-blue-neutral: var(--color-primitive-blue-300);
  --color-semantic-theme-blue-alternative: var(--color-primitive-blue-200);
  --color-semantic-theme-blue-assistive: var(--color-primitive-blue-100);
  --color-semantic-theme-blue-subtle: var(--color-primitive-blue-40);
  --color-semantic-theme-blue-subtler: var(--color-primitive-blue-20);

  --color-semantic-theme-purple-bolder: var(--color-primitive-purple-700);
  --color-semantic-theme-purple-bold: var(--color-primitive-purple-500);
  --color-semantic-theme-purple-normal: var(--color-primitive-purple-400);
  --color-semantic-theme-purple-neutral: var(--color-primitive-purple-300);
  --color-semantic-theme-purple-alternative: var(--color-primitive-purple-200);
  --color-semantic-theme-purple-assistive: var(--color-primitive-purple-80);
  --color-semantic-theme-purple-subtle: var(--color-primitive-purple-40);
  --color-semantic-theme-purple-subtler: var(--color-primitive-purple-20);

  /* system */
  --color-semantic-system-white: var(--color-primitive-base-0);
  --color-semantic-system-black: var(--color-primitive-base-1000);

  /* tab */
  --color-semantic-tab-disabled: var(--color-primitive-gray-80);
}
