@theme {
  /* base */
  --color-primitive-base-0: #FFFFFF;
  --color-primitive-base-1000: #000000;

  /* gray */
  --color-primitive-gray-20: #F9F9F9;
  --color-primitive-gray-40: #EDEDED;
  --color-primitive-gray-60: #E2E2E2;
  --color-primitive-gray-80: #D6D6D6;
  --color-primitive-gray-100: #CBCBCB;
  --color-primitive-gray-150: #BFBFBF;
  --color-primitive-gray-200: #B4B4B4;
  --color-primitive-gray-250: #A8A8A8;
  --color-primitive-gray-300: #9D9D9D;
  --color-primitive-gray-350: #919191;
  --color-primitive-gray-400: #808080;
  --color-primitive-gray-450: #6E6E6E;
  --color-primitive-gray-500: #636363;
  --color-primitive-gray-550: #575757;
  --color-primitive-gray-600: #4B4B4B;
  --color-primitive-gray-650: #404040;
  --color-primitive-gray-700: #343434;
  --color-primitive-gray-750: #282828;
  --color-primitive-gray-800: #1D1D1D;
  --color-primitive-gray-850: #111111;
  --color-primitive-gray-900: #060606;

  /* red */
  --color-primitive-red-20: #FFF8F5;
  --color-primitive-red-40: #FDE3E3;
  --color-primitive-red-60: #FDD0D0;
  --color-primitive-red-80: #FBBEBE;
  --color-primitive-red-100: #FBABAB;
  --color-primitive-red-150: #FA9898;
  --color-primitive-red-200: #F98686;
  --color-primitive-red-250: #F87373;
  --color-primitive-red-300: #F76161;
  --color-primitive-red-350: #F64E4E;
  --color-primitive-red-400: #F53333;
  --color-primitive-red-450: #D32C2C;
  --color-primitive-red-500: #BD2727;
  --color-primitive-red-550: #A72222;
  --color-primitive-red-600: #911E1E;
  --color-primitive-red-650: #7A1919;
  --color-primitive-red-700: #641515;
  --color-primitive-red-750: #4E1010;
  --color-primitive-red-800: #370B0B;
  --color-primitive-red-850: #210606;
  --color-primitive-red-900: #0B0202;

  /* orange */
  --color-primitive-orange-20: #FFF8F5;
  --color-primitive-orange-40: #FFECE2;
  --color-primitive-orange-60: #FFDFCF;
  --color-primitive-orange-80: #FFD3BB;
  --color-primitive-orange-100: #FFC6A8;
  --color-primitive-orange-150: #FFBA94;
  --color-primitive-orange-200: #FFAD81;
  --color-primitive-orange-250: #FFA06E;
  --color-primitive-orange-300: #FF945B;
  --color-primitive-orange-350: #FF8747;
  --color-primitive-orange-400: #FF752B;
  --color-primitive-orange-450: #DC6525;
  --color-primitive-orange-500: #C55A21;
  --color-primitive-orange-550: #AD4F1D;
  --color-primitive-orange-600: #964519;
  --color-primitive-orange-650: #7F3A15;
  --color-primitive-orange-700: #683011;
  --color-primitive-orange-750: #51250D;
  --color-primitive-orange-800: #3A1A0A;
  --color-primitive-orange-850: #220F05;
  --color-primitive-orange-900: #0B0502;

  /* amber */
  --color-primitive-amber-20: #FFFBF5;
  --color-primitive-amber-40: #FFF3E0;
  --color-primitive-amber-60: #FFEBCC;
  --color-primitive-amber-80: #FFE3B7;
  --color-primitive-amber-100: #FFDCA3;
  --color-primitive-amber-150: #FFD48F;
  --color-primitive-amber-200: #FFCC7A;
  --color-primitive-amber-250: #FFC466;
  --color-primitive-amber-300: #FFBC52;
  --color-primitive-amber-350: #FFB43D;
  --color-primitive-amber-400: #FFA91F;
  --color-primitive-amber-450: #E4961B;
  --color-primitive-amber-500: #C58218;
  --color-primitive-amber-550: #AD7315;
  --color-primitive-amber-600: #966412;
  --color-primitive-amber-650: #7A5310;
  --color-primitive-amber-700: #68450C;
  --color-primitive-amber-750: #513509;
  --color-primitive-amber-800: #3A2607;
  --color-primitive-amber-850: #221304;
  --color-primitive-amber-900: #060606;

  /* yellow */
  --color-primitive-yellow-20: #FEFEF8;
  --color-primitive-yellow-40: #FEFCEB;
  --color-primitive-yellow-60: #FDFADE;
  --color-primitive-yellow-80: #FDF8D1;
  --color-primitive-yellow-100: #FCF7C4;
  --color-primitive-yellow-150: #FCF5B7;
  --color-primitive-yellow-200: #FBF3AA;
  --color-primitive-yellow-250: #FAF19C;
  --color-primitive-yellow-300: #FAEF8F;
  --color-primitive-yellow-350: #F9ED82;
  --color-primitive-yellow-400: #F9EB6F;
  --color-primitive-yellow-450: #E7DA5F;
  --color-primitive-yellow-500: #CEC25A;
  --color-primitive-yellow-550: #A9A04B;
  --color-primitive-yellow-600: #938B41;
  --color-primitive-yellow-650: #7C7537;
  --color-primitive-yellow-700: #66602D;
  --color-primitive-yellow-750: #4A4723;
  --color-primitive-yellow-800: #383519;
  --color-primitive-yellow-850: #21200F;
  --color-primitive-yellow-900: #0B0A05;

  /* green */
  --color-primitive-green-20: #F5FBF6;
  --color-primitive-green-40: #E1F3E3;
  --color-primitive-green-60: #CDEBD2;
  --color-primitive-green-80: #B9E3C0;
  --color-primitive-green-100: #A6DBAE;
  --color-primitive-green-150: #91D39C;
  --color-primitive-green-200: #7ECB8A;
  --color-primitive-green-250: #6AC378;
  --color-primitive-green-300: #56BC66;
  --color-primitive-green-350: #42B353;
  --color-primitive-green-400: #25A839;
  --color-primitive-green-450: #1F9131;
  --color-primitive-green-500: #1C822C;
  --color-primitive-green-550: #197226;
  --color-primitive-green-600: #166321;
  --color-primitive-green-650: #12531C;
  --color-primitive-green-700: #0F4417;
  --color-primitive-green-750: #0B3512;
  --color-primitive-green-800: #08260D;
  --color-primitive-green-850: #051607;
  --color-primitive-green-900: #010702;

  /* sky */
  --color-primitive-sky-20: #F6FBFF;
  --color-primitive-sky-40: #E4F3FF;
  --color-primitive-sky-60: #D2ECFF;
  --color-primitive-sky-80: #C0E4FF;
  --color-primitive-sky-100: #AFDCFF;
  --color-primitive-sky-150: #9DD4FF;
  --color-primitive-sky-200: #8BCDFF;
  --color-primitive-sky-250: #79C5FF;
  --color-primitive-sky-300: #67BDFF;
  --color-primitive-sky-350: #55B5FF;
  --color-primitive-sky-400: #3BAAFF;
  --color-primitive-sky-450: #3292DC;
  --color-primitive-sky-500: #2D83C5;
  --color-primitive-sky-550: #2873AD;
  --color-primitive-sky-600: #236496;
  --color-primitive-sky-650: #1D557F;
  --color-primitive-sky-700: #184568;
  --color-primitive-sky-750: #123651;
  --color-primitive-sky-800: #0D263A;
  --color-primitive-sky-850: #081722;
  --color-primitive-sky-900: #02070B;

  /* blue */
  --color-primitive-blue-20: #F5F7FF;
  --color-primitive-blue-40: #E1E8FF;
  --color-primitive-blue-60: #CEDAFF;
  --color-primitive-blue-80: #BACAFF;
  --color-primitive-blue-100: #A7BCFF;
  --color-primitive-blue-150: #93ADFF;
  --color-primitive-blue-200: #809EFF;
  --color-primitive-blue-250: #6D8FFF;
  --color-primitive-blue-300: #5980FF;
  --color-primitive-blue-350: #3D6AFF;
  --color-primitive-blue-400: #295BFF;
  --color-primitive-blue-450: #234EDC;
  --color-primitive-blue-500: #1F46C5;
  --color-primitive-blue-550: #1C3EAD;
  --color-primitive-blue-600: #183696;
  --color-primitive-blue-650: #142D7F;
  --color-primitive-blue-700: #102568;
  --color-primitive-blue-750: #0D1D51;
  --color-primitive-blue-800: #09143A;
  --color-primitive-blue-850: #050C22;
  --color-primitive-blue-900: #02040B;
}
